<h1 class="ui header">Musical Billboards</h1>
<%= link_to "New Billboard", billboards_path %>
<%= link_to "Edit Billboard", edit_billboard_path(:billboard) %>
<%= link_to "Delete Billboard", billboards_path(:billboard), method: :delete %>